<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="V_Term.TCP" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="V_Term.puertoserial" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <V_Term.TCP>
            <setting name="IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Puerto" serializeAs="String">
                <value>5000</value>
            </setting>
        </V_Term.TCP>
        <V_Term.puertoserial>
            <setting name="Puerto" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Velocidad" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Bits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Paridad" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Stop" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="HandShake" serializeAs="String">
                <value>None</value>
            </setting>
        </V_Term.puertoserial>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
